# MetArt Client Environment Variables Template
# Copy this file to '.env' in this directory and update the variables.

# URL of the backend server API
REACT_APP_SERVER_URL=http://localhost:8000/api/v1
